{
    :profiles {
        :goku {
            :default true
            :sim 50
            :delay 500
            :alone 1000
            :held 500
        }
    }
    :applications {
        :terminal [
            "^org\\.alacritty$"
            "^com\\.apple\\.Terminal$"
        ]
        :vscode [
            "^com\\.microsoft\\.VSCode$"
            "^com\\.microsoft\\.VSCodeInsiders$"
        ]
    }

    :main [
        {
            :des "space -> shift (if not alone)"
            :rules [
                [:##spacebar :left_shift nil {:alone :spacebar}]
            ]
        }
        {
            :des "left/right_cmd -> eisuu/kana"
            :rules [
                [:##left_command :left_command nil {:alone :japanese_eisuu}]
                [:##right_command :right_command nil {:alone :japanese_kana}]
            ]
        }
        {
            :des "ctrl+[ -> esc"
            :rules [
                [:!Topen_bracket :escape :!terminal]
            ]
        }
        {
            :des "ctrl+h -> backspace"
            :rules [
                [:!Th :delete_or_backspace [:!terminal :!vscode]]
            ]
        }
        {
            :des "ctrl+m -> return"
            :rules [
                [:!Tm :return_or_enter [:!terminal :!vscode]]
            ]
        }
        {
            :des "ctrl+u -> cmd+delete"
            :rules [
                [:!Tu :!Qdelete_or_backspace [:!terminal :!vscode]]
            ]
        }
        {
            :des "ctrl+w -> option+delete"
            :rules [
                [:!Tw :!Odelete_or_backspace [:!terminal]]
            ]
        }
        {
            :des "ctrl+f/b/p/n -> arrows"
            :rules [
                [:!Tf :right_arrow [:!terminal :!vscode]]
                [:!Tb :left_arrow [:!terminal :!vscode]]
                [:!Tp :up_arrow [:!terminal :!vscode]]
                [:!Tn :down_arrow [:!terminal :!vscode]]
            ]
        }
        {
            :des "tab layer"
            :rules [
                [:tab ["tab-mode" 1] nil {:afterup ["tab-mode" 0] :alone :tab}] ;; enter/escape tab mode
                [:f :!Eright_arrow ["tab-mode" 1]] ;; tab+f -> option+right
                [:b :!Eleft_arrow ["tab-mode" 1]] ;; tab+b -> option+left
                [:p :!Eup_arrow ["tab-mode" 1]] ;; tab+p -> option+up
                [:n :!Edown_arrow ["tab-mode" 1]] ;; tab+n -> option+down
                [:d :!EFdelete_or_backspace ["tab-mode" 1]] ;; tab+d -> fn+option+delete
            ]
        }
    ]
}
